#education {
  text-align: center;
  border-width: thick;
  border-style: inset;
  border-color: royalblue;
  border-radius: 5%;
}

body {
  /*Changing the background color to lightBlue*/
  background-color: lightblue;
}

section {
  font-size: 18px;
  line-height: 2em;
}
.skills {
  border: 2px solid royalblue;
  border-radius: 5px;
}

h1 {
  color: rgb(0, 0, 128);
  margin-left: 20px;
}

h2 {
  color: rgba(17, 66, 226, 0.904);
}

h3 {
  color: hsla(30, 89%, 47%, 0.849);
}

i {
  color: rgba(243, 247, 4, 0.973);
}

hr {
  border-top: 1px solid #000;
}

aside {
  width: 50%;
  font-size: 15px;
  font-family: "Courier New";
  color: #29627e;
}

aside > pre {
  margin: 1rem;
  font-size: 0.5cm;
  font-family: sans-serif;
  line-height: 10mm;
}
